@media (min-width:992px){
    .producto{
        width: 24%;
        margin-right:1% ;
        display: inline-block;
    }
    .nota-feed{
        width: 19%;
        /*float: left;*/
        position: relative;
    }
    .note-sizer{
        width: 19%;
    }

    /* fix */
    div#contenido_title h3 {
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    div#contenido_title p {
        margin: 0% 0 1.5%;
    }

    div#title_site {
        padding: 1.5% 0;
    }

    div#cargar_mas {
        height: auto;
        overflow: hidden;
        padding: 1% 0;
    }
    h5.temas{
        margin-top: 0;
         padding: 0;
         margin: 0;
         font-weight: 100;
     }
    
}

@media (max-width:768px){
    .nota-feed.grid-item {
        padding: 7%;
    }

    div#contenido_title h3 {
        padding: 5% 0 5.5%;
    }
    div#contenido_title h4{
        line-height: 32px;
    }
    div#contenido_title p {
        margin: 0% 0 4.5%;
    }
    span.tags {
        display: block;
        height: auto;
        overflow: hidden;
        padding: 0 7%;
    }
    div#title_site {
        padding: 6.5% 4.5%;
    }
    div#title_site h1{
        font-size: 32px;
    }
    div#title_site h3{
        font-size: 24px;
        margin: 4% 0;
    }

    #slide-home h2.et_pb_slide_title{
        font-size: 30px !important;
        text-align: center !important;
        font-weight: 900 !important;
    }

    #slide-home .et_pb_slide_content {
        font-size: 16px !important;
        text-align: center !important;
        
    }

    #slide-home .et_pb_button_wrapper {
        text-align: center;
    }

    div#cargar_mas {
        height: auto;
        overflow: hidden;
        padding: 7% 0;
    }

    div#media_image-3 {
        width: 100%;
        text-align: center;
    }
    div#media_image-3 img {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    div#custom_html-2{
        text-align: center !important;
    }
    #seamos-socios{
        padding: 1.5% 3% !important; 
        bottom: 5% !important;
        left: 3% !important;
    }
}