@media (min-width:992px) {
    .nota-feed {
        width: 100%;
        /*float: left;*/
        /* position: relative;*/
    }
    /* fix masorny */
    .content {
        padding: 5% 6%;
    }
    /* fix */
    div#contenido_title h3 {
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    div#contenido_title p {
        margin: 0% 0 1.5%;
    }
    div#title_site {
        padding: 1.5% 0;
    }
    div#cargar_mas {
        height: auto;
        overflow: hidden;
        padding: 1% 0;
    }
    h5.temas {
        margin-top: 0;
        padding: 0;
        margin: 0;
        font-weight: 100;
    }
    div#custom_html-2 {
        text-align: center !important;
        width: 100%;
    }
    #custom_html-3{
        display: none;
    }
    #seamos-socios {
        display: block;
    }
}

@media (max-width:768px) {
    .content {
        padding: 7%;
    }
    div#contenido_title h3 {
        padding: 5% 0 5.5%;
    }
    div#contenido_title h4 {
        line-height: 32px;
    }
    div#contenido_title p {
        margin: 0% 0 4.5%;
    }
    span.tags {
        display: block;
        height: auto;
        overflow: hidden;
        padding: 0 2em;
    }
    div#title_site {
        padding: 6.5% 4.5%;
    }
    div#title_site h1 {
        font-size: 32px;
    }
    div#title_site h3 {
        font-size: 24px;
        margin: 4% 0;
    }
    #slide-home h2.et_pb_slide_title {
        font-size: 30px !important;
        text-align: center !important;
        font-weight: 900 !important;
    }
    #slide-home .et_pb_slide_content {
        font-size: 16px !important;
        text-align: center !important;
    }
    #slide-home .et_pb_button_wrapper {
        text-align: center;
    }
    div#cargar_mas {
        height: auto;
        overflow: hidden;
        padding: 7% 0;
    }
    div#media_image-3 {
        width: 100%;
        text-align: center;
    }
    div#media_image-3 img {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    div#custom_html-2 {
        text-align: center !important;
        width: 100%;
    }
    #seamos-socios {
        display: none;
    }
    #custom_html-3{
        display: inline-block;
    }
    .footer-widget:nth-child(n) {
        width: 100% !important;
    }
    div#custom_html-3 {
        width: 100%;
        text-align: center;
        padding: 4% 0;
    }
}

@media (max-width:479px) {
    div#notas {
        /*padding: 0 20px;*/
        margin-left: -15px
    }
    .grid-item.nota-feed.feed-twitter {
        padding: 1.2% 0 !important;
    }
    div#title_site h1 {
        font-size: 28px;
    }
    div#title_site h3 {
        font-size: 22px;
        margin: 2% 0;
    }
    div#contenido_title h3 {
        padding-left: 5%;
        padding-right: 5%
    }
    .nota-feed {
        max-width: 83%;
        margin-left: auto;
        margin-right: auto;
    }
    div#custom_html-2 {
        width: 100%;
    }

    a#seamos-socios-footer {
        padding: 2% 5% !important;
    }
    #footer-widgets .footer-widget:nth-child(n), .footer-widget .fwidget{
        margin-bottom: 2.5%!important;
    }
}